.usuarios {
  background-color: transparent;
  border: 1px solid var(--black-light);
  padding: 30px;
  border-radius: 10px;
}

.usuarios-title {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.usuarios-title h1 {
  font-family: var(--font-primary);
  color: var(--platinum);
}
